h3,
h5,
h6,
a {
  color: black;
}

hr {
  border: 1px solid whitesmoke;
}

@media screen and (max-width: 600px) {
  .web-list {
    display: none;
  }

  img {
    width: 100px;
  }
}