<footer class="page-footer font-small bg-dark text-white pt-4 pb-1">
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a
        target="_blank"
        rel="external nofollow"
        class="btn-floating btn-fb mx-3"
        href="{{ instagram }}"
      >
        <img
          class="hover-animation"
          src="assets/images/instagram.png"
          width="{{ widthIcon }}"
          alt="Razak black metal instagram"
        />
      </a>
    </li>
    <li class="list-inline-item">
      <a
        target="_blank"
        rel="external nofollow"
        class="btn-floating btn-tw mx-3"
        href="{{ facebook }}"
      >
        <img
          class="hover-animation"
          src="assets/images/facebook.png"
          width="{{ widthIcon }}"
          alt="Razak black metal facebook"
        />
      </a>
    </li>
    <li class="list-inline-item">
      <a
        target="_blank"
        rel="external nofollow"
        class="btn-floating btn-tw mx-3"
        href="{{ twitter }}"
      >
        <img
          class="hover-animation"
          src="assets/images/twitter.png"
          width="{{ widthIcon }}"
          alt="Razak black metal twitter"
        />
      </a>
    </li>
    <li class="list-inline-item">
      <a
        target="_blank"
        rel="external nofollow"
        class="btn-floating btn-gplus mx-3"
        href="{{ youtube }}"
      >
        <img
          class="hover-animation"
          src="assets/images/youtube.png"
          width="{{ widthIcon }}"
          alt="Razak black metal youtube"
        />
      </a>
    </li>
    <li class="list-inline-item">
      <a
        target="_blank"
        rel="external nofollow"
        class="btn-floating btn-gplus mx-3"
        href="{{ spotify }}"
      >
        <img
          class="hover-animation"
          src="assets/images/spotify.png"
          width="{{ widthIcon }}"
          alt="Razak black metal spotify"
        />
      </a>
    </li>
    <li class="list-inline-item">
      <a
        target="_blank"
        rel="external nofollow"
        class="btn-floating btn-li mx-3"
        href="{{ bandcamp }}"
      >
        <img
          class="hover-animation"
          src="assets/images/bandcamp.png"
          width="{{ widthIcon }}"
          alt="Razak black metal bandcamp"
        />
      </a>
    </li>
  </ul>
  <hr />

  <div class="footer-copyright text-center">
    <p>
      Icons made by
      <a
        target="_blank"
        rel="external nofollow"
        href="https://www.flaticon.com/authors/freepik"
        title="Freepik"
        >Freepik</a
      >
      ,
      <a
        target="_blank"
        rel="external nofollow"
        href="https://icon54.com/"
        title="Pixel perfect"
        >Pixel perfect</a
      >
      and
      <a
        rel="external nofollow"
        href="https://www.flaticon.com/authors/dinosoftlabs"
        title="DinosoftLabs"
        target="_blank"
        >DinosoftLabs</a
      >
    </p>
  </div>

  <div class="footer-copyright text-center">
    <p>
      version {{ webVersion }} - © 2021 Copyright:
      <a href="{{ bandcamp }}" title="RazaK Black Metal" target="_blank">
        RazaK BlacK MetaL
      </a>
    </p>
  </div>
</footer>
