<footer class="page-footer font-small bg-dark text-white pt-4 mt-3">

  <div class="container text-center text-md-left">

    <div class="row">

      <div class="col-md-4 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
        <p>Professional contact: <a href="">razakblackmetal@gmail.com</a></p>
        <p>Also you can follow us!</p>

        <form action="https://www.paypal.com/donate" method="post" target="_top">
          <input type="hidden" name="hosted_button_id" value="DBMVE8XE48XGY" />
          <input target="_blank" type="image" src="assets/images/donate.png" border="0" name="submit"
            title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" width="50%" />
        </form>

      </div>

      <div class="col-md-2 mx-auto">


        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled web-list">
          <li>
            <h6>Photo/Video/Art</h6>
          </li>
          <li>
            Álvaro Gómez<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{alvaroGomezFacebook}}">
              <img class="hover-animation" src="assets/images/facebook.png" width="20" alt="photography facebook" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{alvaroGomezInstagram}}">
              <img class="hover-animation" src="assets/images/instagram.png" width="20" alt="photography instagram" />
            </a>
          </li>
          <li>
            Jose BulletKid<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{bulletKidInstagram}}">
              <img class="hover-animation" src="assets/images/instagram.png" width="20" alt="video editor instagram" />
            </a>
          </li>
          <li>
            Steel Witch<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{steelWitchInstagram}}">
              <img class="hover-animation" src="assets/images/instagram.png" width="20" alt="artist instagram" />
            </a>

          </li>
        </ul>

      </div>

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled web-list">
          <li>
            <h6>Production</h6>
          </li>
          <li>
            Dark Void Studios<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{darkVoidStudiosWeb}}">
              <img class="hover-animation" src="assets/images/web.png" width="20" alt="dark void studios web" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="{{darkVoidStudiosFacebook}}">
              <img class="hover-animation" src="assets/images/facebook.png" width="20"
                alt="dark void studios facebook" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="{{darkVoidStudiosInstagram}}">
              <img class="hover-animation" src="assets/images/instagram.png" width="20"
                alt="dark void studios instagram" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="{{darkVoidStudiosYoutube}}">
              <img class="hover-animation" src="assets/images/youtube.png" width="20" alt="dark void studios youtube" />
            </a>
          </li>
          <li>
            Wildcrow Studios<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="{{wildCrowStudiosFacebook}}">
              <img class="hover-animation" src="assets/images/facebook.png" width="20"
                alt="wildcrow studios facebook" />
            </a>
          </li>
          <li class="mt-3">
            <br>
            <h6>Web development</h6>
          </li>
          <li>
            Victor Develops<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{victorLinkedin}}">
              <img class="hover-animation" src="assets/images/linkedin.png" width="20" alt="Web developer linkedin" />
            </a>
          </li>
        </ul>

      </div>

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled web-list">
          <li>
            <h6>Influences</h6>
          </li>
          <li>
            A Light In The Dark<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://alightinthedark.bandcamp.com/releases">
              <img class="hover-animation" src="assets/images/bandcamp.png" width="20"
                alt="A Light In The Dark bandcamp" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.facebook.com/ALITD.Official">
              <img class="hover-animation" src="assets/images/facebook.png" width="20"
                alt="A Light In The Dark facebook" />
            </a>
          </li>
          <li>
            Psychonaut4<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://psychonaut4.bandcamp.com/">
              <img class="hover-animation" src="assets/images/bandcamp.png" width="20" alt="Psychonaut4 bandcamp" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.instagram.com/psychonaut4.official/">
              <img class="hover-animation" src="assets/images/instagram.png" width="20" alt="Psychonaut4 instagram" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.facebook.com/psychonaut4.official">
              <img class="hover-animation" src="assets/images/facebook.png" width="20" alt="Psychonaut4 facebook" />
            </a>
          </li>
          <li>
            Cradle of Filth<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.cradleoffilth.com/">
              <img class="hover-animation" src="assets/images/web.png" width="20" alt="Cradle of Filth web" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.facebook.com/cradleoffilth">
              <img class="hover-animation" src="assets/images/facebook.png" width="20" alt="Cradle of Filth facebook" />
            </a>
          </li>
          <li>
            Behemoth<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="https://behemoth.pl/">
              <img class="hover-animation" src="assets/images/web.png" width="20" alt="Behemoth web" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.facebook.com/behemoth/">
              <img class="hover-animation" src="assets/images/facebook.png" width="20" alt="Behemoth facebook" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.youtube.com/user/Behemothofficial?sub_confirmation=1&src=Linkfire&lId=68046b73-3451-448a-8a62-0fcce4a32aee&cId=d3d58fd7-4c47-11e6-9fd0-066c3e7a8751">
              <img class="hover-animation" src="assets/images/youtube.png" width="20" alt="Behemoth youtube" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.instagram.com/behemothofficial/">
              <img class="hover-animation" src="assets/images/instagram.png" width="20" alt="Behemoth instagram" />
            </a>
          </li>
          <li>
            Oathbreaker<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://deathwishinc.com/collections/oathbreaker">
              <img class="hover-animation" src="assets/images/web.png" width="20" alt="Oathbreaker web" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://open.spotify.com/artist/5kDp9RPBnmQzBLwVnVyVvz">
              <img class="hover-animation" src="assets/images/spotify.png" width="20" alt="Oathbreaker spotify" />
            </a>
          </li>
          <li>
            Thy Light<br>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.facebook.com/officialthylight">
              <img class="hover-animation" src="assets/images/facebook.png" width="20" alt="Thy Light facebook" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://www.youtube.com/c/ThyLightOfficial/featured">
              <img class="hover-animation" src="assets/images/youtube.png" width="20" alt="Thy Light youtube" />
            </a>
            <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
              href="https://pestproductions.bandcamp.com/album/suici-de-pression">
              <img class="hover-animation" src="assets/images/bandcamp.png" width="20" alt="Thy Light bandcamp" />
            </a>
          </li>
        </ul>

      </div>

    </div>

  </div>
  <hr>

  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item mt-3">
      <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-3" href="{{instagram}}">
        <img class="hover-animation" src="assets/images/instagram.png" width="150" alt="Razak instagram" />
      </a>
    </li>
    <li class="list-inline-item mt-3">
      <a target="_blank" rel="external nofollow" class="btn-floating btn-tw mx-3" href="{{facebook}}">
        <img class="hover-animation" src="assets/images/facebook.png" width="150" alt="Razak facebook" />
      </a>
    </li>
    <li class="list-inline-item mt-3">
      <a target="_blank" rel="external nofollow" class="btn-floating btn-gplus mx-3" href="{{youtube}}">
        <img class="hover-animation" src="assets/images/youtube.png" width="150" alt="Razak youtube" />
      </a>
    </li>
    <li class="list-inline-item mt-3">
      <a target="_blank" rel="external nofollow" class="btn-floating btn-gplus mx-3" href="{{spotify}}">
        <img class="hover-animation" src="assets/images/spotify.png" width="150" alt="Razak spotify">
      </a>
    </li>
    <li class="list-inline-item mt-3">
      <a target="_blank" rel="external nofollow" class="btn-floating btn-li mx-3" href="{{bandcamp}}">
        <img class="hover-animation" src="assets/images/bandcamp.png" width="150" alt="Razak bandcamp" />
      </a>
    </li>
  </ul>

  <hr>

  <div class="footer-copyright text-center py-3">version {{appVersion}} - © 2020 Copyright:
    <a href="#"> RAZAK </a>
  </div>

  <div class="footer-copyright text-center py-3">
    Icons made by <a target="_blank" rel="external nofollow" href="https://www.flaticon.com/authors/freepik"
      title="Freepik">Freepik</a>
    , <a target="_blank" rel="external nofollow" href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> and
    <a rel="external nofollow" href="https://www.flaticon.com/free-icon/donate_3349578?term=donate&page=2&position=8"
      title="DinosoftLabs" target="_blank">DinosoftLabs</a>
    from
    <a rel="external nofollow" href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>

</footer>