<footer class="page-footer font-small bg-dark text-white pt-4">

    <div class="container text-center text-md-left">
  
      <div class="row">
  
        <div class="col-md-4 mx-auto">
  
          <h3 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h3>
          <p>Professional contact: <a href="">razakblackmetal@gmail.com</a></p>
          <p>Also you can follow us!</p>
  
          <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="DBMVE8XE48XGY" />
            <input target="_blank" type="image" src="assets/images/donate.png" border="0" name="submit"
              title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" width="50%" />
          </form>
  
        </div>
  
        <div class="col-md-2 mx-auto">
  
  
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
  
          <ul class="list-unstyled web-list">
            <li>
              <h3>Photo/Video/Art</h3>
            </li>
            <li>
              Álvaro Gómez<br>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{alvaroGomezFacebook}}">
                <img class="hover-animation" src="assets/images/facebook.png" width="20" alt="photography facebook" />
              </a>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{alvaroGomezInstagram}}">
                <img class="hover-animation" src="assets/images/instagram.png" width="20" alt="photography instagram" />
              </a>
            </li>
            <li>
              Jose BulletKid<br>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{bulletKidInstagram}}">
                <img class="hover-animation" src="assets/images/instagram.png" width="20" alt="video editor instagram" />
              </a>
            </li>
            <li>
              Steel Witch<br>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{steelWitchInstagram}}">
                <img class="hover-animation" src="assets/images/instagram.png" width="20" alt="artist instagram" />
              </a>
  
            </li>
          </ul>
  
        </div>
  
        <div class="col-md-2 mx-auto">
  
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
  
          <ul class="list-unstyled web-list">
            <li>
              <h3>Production</h3>
            </li>
            <li>
              Dark Void Studios<br>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{darkVoidStudiosWeb}}">
                <img class="hover-animation" src="assets/images/web.png" width="20" alt="dark void studios web" />
              </a>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
                href="{{darkVoidStudiosFacebook}}">
                <img class="hover-animation" src="assets/images/facebook.png" width="20"
                  alt="dark void studios facebook" />
              </a>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
                href="{{darkVoidStudiosInstagram}}">
                <img class="hover-animation" src="assets/images/instagram.png" width="20"
                  alt="dark void studios instagram" />
              </a>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
                href="{{darkVoidStudiosYoutube}}">
                <img class="hover-animation" src="assets/images/youtube.png" width="20" alt="dark void studios youtube" />
              </a>
            </li>
            <li>
              Wildcrow Studios<br>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1"
                href="{{wildCrowStudiosFacebook}}">
                <img class="hover-animation" src="assets/images/facebook.png" width="20"
                  alt="wildcrow studios facebook" />
              </a>
            </li>
          </ul>
  
        </div>
  
        <div class="col-md-2 mx-auto">
  
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
  
          <ul class="list-unstyled web-list">
            <li>
              <h3>Web development</h3>
            </li>
            <li>
              Victor Develops<br>
              <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-1" href="{{victorLinkedin}}">
                <img class="hover-animation" src="assets/images/linkedin.png" width="20" alt="Web developer linkedin" />
              </a>
            </li>
          </ul>
  
        </div>
  
      </div>
  
    </div>
    <hr>
  
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item mt-3">
        <a target="_blank" rel="external nofollow" class="btn-floating btn-fb mx-3" href="{{instagram}}">
          <img class="hover-animation" src="assets/images/instagram.png" width="150" alt="Razak instagram" />
        </a>
      </li>
      <li class="list-inline-item mt-3">
        <a target="_blank" rel="external nofollow" class="btn-floating btn-tw mx-3" href="{{facebook}}">
          <img class="hover-animation" src="assets/images/facebook.png" width="150" alt="Razak facebook" />
        </a>
      </li>
      <li class="list-inline-item mt-3">
        <a target="_blank" rel="external nofollow" class="btn-floating btn-tw mx-3" href="{{twitter}}">
          <img class="hover-animation" src="assets/images/twitter.png" width="150" alt="Razak twitter" />
        </a>
      </li>
      <li class="list-inline-item mt-3">
        <a target="_blank" rel="external nofollow" class="btn-floating btn-gplus mx-3" href="{{youtube}}">
          <img class="hover-animation" src="assets/images/youtube.png" width="150" alt="Razak youtube" />
        </a>
      </li>
      <li class="list-inline-item mt-3">
        <a target="_blank" rel="external nofollow" class="btn-floating btn-gplus mx-3" href="{{spotify}}">
          <img class="hover-animation" src="assets/images/spotify.png" width="150" alt="Razak spotify">
        </a>
      </li>
      <li class="list-inline-item mt-3">
        <a target="_blank" rel="external nofollow" class="btn-floating btn-li mx-3" href="{{bandcamp}}">
          <img class="hover-animation" src="assets/images/bandcamp.png" width="150" alt="Razak bandcamp" />
        </a>
      </li>
    </ul>
  
    <hr>
  
    <!-- 
    <div class="footer-copyright text-center py-3">version {{appVersion}} - © 2020 Copyright:
      <a href="#"> RAZAK </a>
    </div>
    -->
  
    <div class="footer-copyright text-center py-3">
      Icons made by <a target="_blank" rel="external nofollow" href="https://www.flaticon.com/authors/freepik"
        title="Freepik">Freepik</a>
      , <a target="_blank" rel="external nofollow" href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> and
      <a rel="external nofollow" href="https://www.flaticon.com/free-icon/donate_3349578?term=donate&page=2&position=8"
        title="DinosoftLabs" target="_blank">DinosoftLabs</a>
      from
      <a rel="external nofollow" href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>
  
  </footer>