<!-- WEB CAROUSEL -->
<mat-carousel *ngIf="carousel" class="web-carousel" timings="250ms ease-in" [autoplay]="true" interval="5000"
  color="accent" maxWidth="225" proportion="45" [loop]="true" [hideArrows]="false" [hideIndicators]="true"
  [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
  <mat-carousel-slide *ngFor="let item of carousel; let i = index" [hideOverlay]="true">

    <div>
      <div class="view w-100">
        <img class="d-block w-100" src="{{item.imageURL}}" alt="{{item.alt}}">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption card border-secondary">
        <h3 class="h3-responsive">{{item.headline}}</h3>
        <p>{{item.paragraph}}</p>
        <button class="btn btn-danger">
          <a target="_blank" rel="external nofollow" href="{{item.buttonLink}}" class="button">
            {{item.buttonText}}
          </a>
        </button>
      </div>
    </div>

  </mat-carousel-slide>
</mat-carousel>

<!-- PHONE CAROUSEL -->
<mat-carousel *ngIf="carousel" class="phone-carousel" timings="250ms ease-in" [autoplay]="true" interval="5000"
  color="accent" maxWidth="225" proportion="45" [loop]="true" [hideArrows]="true" [hideIndicators]="true"
  [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
  <mat-carousel-slide *ngFor="let item of carousel; let i = index" [hideOverlay]="true">

    <div>
      <div class="view w-100">
        <img class="d-block w-100" src="{{item.imageURL}}" alt="{{item.alt}}">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption card border-secondary">
        <h3 class="h3-responsive">{{item.headline}}</h3>
        <button class="btn btn-danger">
          <a target="_blank" rel="external nofollow" href="{{item.buttonLink}}" class="button">
            {{item.buttonText}}
          </a>
        </button>
      </div>
    </div>

  </mat-carousel-slide>
</mat-carousel>