<h1 mat-dialog-title>{{themeTitle}}</h1>
<mat-dialog-content>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item mt-3">
            <h1>PLAY</h1>
            <a target="_blank" class="btn-floating btn-gplus mx-3" href="{{spotifyLink}}">
                <img class="hover-animation" src="assets/images/spotify.png" width="100" alt="spotify">
            </a>
        </li>
        <li class="list-inline-item mt-3">
            <h1>BUY</h1>
            <a class="btn-floating btn-gplus mx-3" href="{{bandcampLink}}">
                <img class="hover-animation" src="assets/images/bandcamp.png" width="100" alt="bandcamp" />
            </a>
        </li>
    </ul>

</mat-dialog-content>