<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/home']">
    <img src="assets/images/razak_logo.png" width="60" alt="Razak black metal Logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- WEB -->
    <ul class="navbar-nav mr-auto web-menu">
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://razak-black-metal.creator-spring.com/"
          target="_blank"
          >Merch</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/catalog']">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/lyrics']">Lyrics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openMailDialog()">Contact</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          target="_blank"
          href="https://www.paypal.com/donate?hosted_button_id=S6QJKCDDYT992"
          >Donate</a
        >
      </li>
    </ul>

    <!-- PHONE -->
    <ul class="navbar-nav mr-auto phone-menu text-center">
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://razak-black-metal.creator-spring.com/"
          target="_blank"
          >Merch</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openMusicDialog()">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openArtDialog()">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openProductionDialog()">Production</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openMailDialog()">Contact</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          target="_blank"
          href="https://www.paypal.com/donate?hosted_button_id=S6QJKCDDYT992"
          >Donate</a
        >
      </li>
    </ul>

    <ul class="navbar-nav float-left web-menu">
      <li class="nav-item">
        <a
          class="navbar-brand"
          target="_blank"
          rel="external nofollow"
          href="{{ instagram }}"
        >
          <img
            class="hover-animation"
            src="assets/images/instagram.png"
            width="30"
            height="30"
            alt="Razak black metal instagram"
          />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="navbar-brand"
          target="_blank"
          rel="external nofollow"
          href="{{ facebook }}"
        >
          <img
            class="hover-animation"
            src="assets/images/facebook.png"
            width="30"
            height="30"
            alt="Razak black metal facebook"
          />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="navbar-brand"
          target="_blank"
          rel="external nofollow"
          href="{{ twitter }}"
        >
          <img
            class="hover-animation"
            src="assets/images/twitter.png"
            width="30"
            height="30"
            alt="Razak black metal facebook"
          />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="navbar-brand"
          target="_blank"
          rel="external nofollow"
          href="{{ youtube }}"
        >
          <img
            class="hover-animation"
            src="assets/images/youtube.png"
            width="30"
            height="30"
            alt="Razak black metal youtube"
          />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="navbar-brand"
          target="_blank"
          rel="external nofollow"
          href="{{ spotify }}"
        >
          <img
            class="hover-animation"
            src="assets/images/spotify.png"
            width="30"
            height="30"
            alt="Razak black metal spotyfy"
          />
        </a>
      </li>
      <li class="nav-item">
        <a
          class="navbar-brand"
          target="_blank"
          rel="external nofollow"
          href="{{ bandcamp }}"
        >
          <img
            class="hover-animation"
            src="assets/images/bandcamp.png"
            width="30"
            height="30"
            alt="Razak black metal bandcamp"
          />
        </a>
      </li>
    </ul>
  </div>
</nav>
