li:hover {
  color: white;
  cursor: pointer;
}

p,
a {
  margin: 0;
  font-size: 25px;
  font-family: "PentaGramsMalefissent", Arial, Helvetica, sans-serif;
}

.web-menu {
  display: none;
}

.phone-menu {
  display: flex;
}

@media screen and (min-width: 600px) {
  .web-menu {
    display: inline-flex;
  }

  .phone-menu {
    display: none;
  }

  .hover-animation {
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }

  .hover-animation:hover {
    transform: scale(1.1);
  }
}
