<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/home']">
      <img src="assets/images/razak_logo.png" width="60" alt="RazaK Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://razak-black-metal.creator-spring.com/" target="_blank">Merch</a>
        </li>
        <li class="nav-item">
          <p class="nav-link" (click)="openMusicDialog()" [routerLink]="['/catalog']">Music</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" (click)="openArtDialog()" [routerLink]="['/gallery']">Gallery</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" (click)="openProductionDialog()">Production</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" (click)="openContactDialog()">About</p>
        </li>
      </ul>
  
      <ul class="navbar-nav float-left">
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" rel="external nofollow" href="{{instagram}}">
            <img class="hover-animation" src="assets/images/instagram.png" width="30" height="30" alt="razak instagram" />
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" rel="external nofollow" href="{{facebook}}">
            <img class="hover-animation" src="assets/images/facebook.png" width="30" height="30" alt="razak facebook" />
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" rel="external nofollow" href="{{twitter}}">
            <img class="hover-animation" src="assets/images/twitter.png" width="30" height="30" alt="razak facebook" />
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" rel="external nofollow" href="{{youtube}}">
            <img class="hover-animation" src="assets/images/youtube.png" width="30" height="30" alt="razak youtube" />
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" rel="external nofollow" href="{{spotify}}">
            <img class="hover-animation" src="assets/images/spotify.png" width="30" height="30" alt="razak spotyfy" />
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" rel="external nofollow" href="{{bandcamp}}">
            <img class="hover-animation" src="assets/images/bandcamp.png" width="30" height="30" alt="razak bandcamp">
          </a>
        </li>
      </ul>
    </div>
  </nav>