<button mat-icon-button class="close-button float-right" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="mt-5">
</div>
<h1 mat-dialog-title>PRODUCTION</h1>
<mat-dialog-content>
    <div class="card pb-3 m-3">
        <div class="card-body">
            <h5 class="card-title">Dark Void Studios</h5>
            <p class="card-text">Mixing & Production</p>
        </div>
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a rel="external nofollow" target="_blank" class="btn-floating btn-gplus mx-3" href="{{darkVoidWeb}}">
                    <img class="hover-animation" src="assets/images/web.png" width="50" alt="dark void studios web" />
                </a>
            </li>
            <li class="list-inline-item">
                <a rel="external nofollow" target="_blank" class="btn-floating btn-gplus mx-3"
                    href="{{darkVoidInstagram}}">
                    <img class="hover-animation" src="assets/images/instagram.png" width="50"
                        alt="dark void studios instagram" />
                </a>
            </li>
            <li class="list-inline-item">
                <a rel="external nofollow" target="_blank" class="btn-floating btn-gplus mx-3"
                    href="{{darkVoidFacebook}}">
                    <img class="hover-animation" src="assets/images/facebook.png" width="50"
                        alt="dark void studios facebook" />
                </a>
            </li>
            <li class="list-inline-item">
                <a rel="external nofollow" target="_blank" class="btn-floating btn-gplus mx-3"
                    href="{{darkVoidYoutube}}">
                    <img class="hover-animation" src="assets/images/youtube.png" width="50"
                        alt="dark void studios youtube" />
                </a>
            </li>
        </ul>
    </div>

    <div class="card pb-3 m-3 ">
        <div class="card-body">
            <h5 class="card-title">Wildcrow Studios</h5>
            <p class="card-text">Mastering</p>
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a rel="external nofollow" target="_blank" class="btn-floating btn-gplus mx-3"
                        href="{{wildCrowFacebook}}">
                        <img class="hover-animation" src="assets/images/facebook.png" width="50"
                            alt="wildcrow studios facebook" />
                    </a>
                </li>
            </ul>
        </div>
    </div>

</mat-dialog-content>