<div class="pc-display">
    <hr class="mt-2 mb-5">

    <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="3000" color="accent" maxWidth="100"
        proportion="20" [loop]="true" [hideArrows]="true" [hideIndicators]="true" [useKeyboard]="true"
        [useMouseWheel]="false" orientation="ltr">
        <mat-carousel-slide [hideOverlay]="true">
            <p class="text-center customP">
                Why am I still in the darkness?<br>
                Why can't I feel the happiness?<br>
                Tell me why!
            </p>
            <h1 class="text-center customH1">
                - Why the Rainclouds Never Go Away? -
            </h1>
        </mat-carousel-slide>
        <mat-carousel-slide [hideOverlay]="true">
            <p class="text-center customP">
                Break my bones, tear my soul<br>
                I'm your endless song.<br>
                Eat my flesh, Hear my screams<br>
                I'm your last Eclipse.
            </p>
            <h1 class="text-center customH1">
                - Life's Eclipse -
            </h1>
        </mat-carousel-slide>
        <mat-carousel-slide [hideOverlay]="true">
            <p class="text-center customP">
                Too late to forget, too late to forgive.<br>
                Too late for a smile, too late for a weep.<br>
                Too late to forget,<br>
                this fucking and necrotic love<br>
            </p>
            <h1 class="text-center customH1">
                - My Sweet Necrolove -
            </h1>
        </mat-carousel-slide>

    </mat-carousel>
</div>

<div class="phone-display">
    <hr class="mt-2 mb-1">

    <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="3000" color="accent" maxWidth="100"
        proportion="35" [loop]="true" [hideArrows]="true" [hideIndicators]="true" [useKeyboard]="true"
        [useMouseWheel]="false" orientation="ltr">
        <mat-carousel-slide [hideOverlay]="true">
            <p class="text-center customP">
                Why am I still in the darkness?<br>
                Why can't I feel the happiness?<br>
                Tell me why!
            </p>
            <h1 class="text-center customH1">
                - Why the Rainclouds Never Go Away? -
            </h1>
        </mat-carousel-slide>
        <mat-carousel-slide [hideOverlay]="true">
            <p class="text-center customP">
                Break my bones, tear my soul<br>
                I'm your endless song.<br>
                Eat my flesh, Hear my screams<br>
                I'm your last Eclipse.
            </p>
            <h1 class="text-center customH1">
                - Life's Eclipse -
            </h1>
        </mat-carousel-slide>
        <mat-carousel-slide [hideOverlay]="true">
            <p class="text-center customP">
                Too late to forget, too late to forgive.<br>
                Too late for a smile, too late for a weep.<br>
                Too late to forget,<br>
                this fucking and necrotic love<br>
            </p>
            <h1 class="text-center customH1">
                - My Sweet Necrolove -
            </h1>
        </mat-carousel-slide>

    </mat-carousel>
</div>