.customH1 {
  position: relative;
  top: -1%;
    font-size: 3em;
    color: black;
    text-shadow: 0 10px 20px rgba(255, 7, 58, 0.15),
      0 4px 8px rgba(128, 29, 25, 0.36);
  }
  
  .customP {
    margin-bottom:40px;
    color: black;
    font-size: 3em;
    font-style: italic;
    position: relative;
    top: -10%;
  }
  
  .phone-display {
    display: none;
  }
  .pc-display {
    display: block;
  }

  ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 40%;
  }
  
  ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
@media screen and (min-height: 1281px){
  ngb-carousel .wrapper {
    padding-top: 40%;
  }
}


  @media screen and (max-width: 600px) {
    .phone-display {
      display: block;
    }
    .pc-display {
      display: none;
    }

    .customH1 {
      top: 60px;
      font-size: 90%;
    }
  
    .customP {
      top: 50px;
      font-size: 100%;
    }

    ngb-carousel .wrapper {
      padding-top: 65%;
    }
  }