<button mat-icon-button class="close-button float-right" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="mt-5">
</div>
<h1 mat-dialog-title>Contact</h1>
<mat-dialog-content>

    <p>Talk with us!</p>

    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item mt-3">
            <a rel="external nofollow" class="btn-floating btn-gplus mx-3" target="_blank" href="{{instagram}}">
                <img class="hover-animation" src="assets/images/instagram.png" width="150" alt="razak instagram" />
            </a>
        </li>
        <li class="list-inline-item mt-3">
            <a rel="external nofollow" target="_blank" class="btn-floating btn-gplus mx-3" href="{{facebook}}">
                <img class="hover-animation" src="assets/images/facebook.png" width="150" alt="razak facebook">
            </a>
        </li>
    </ul>
    <hr>
    <p>Also you can send us an email to: <br><a href="">razakblackmetal@gmail.com</a></p>
    <p>We answer as soon as possible.</p>

</mat-dialog-content>
