<h1 mat-dialog-title>Contact</h1>
<mat-dialog-content>

    <p>Contact with us by Social Networks</p>

    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item mt-3">
            <a class="btn-floating btn-gplus mx-3" href="{{instagram}}">
                <img class="hover-animation" src="assets/images/instagram.png" width="150" alt="instagram" />
            </a>
        </li>
        <li class="list-inline-item mt-3">
            <a target="_blank" class="btn-floating btn-gplus mx-3" href="{{facebook}}">
                <img class="hover-animation" src="assets/images/facebook.png" width="150" alt="facebook">
            </a>
        </li>
    </ul>
    <hr>
    <p>Also you can send us an email to: <br><a href="">razakblackmetal@gmail.com</a></p>
    <p>We answer as soon as possible.</p>

</mat-dialog-content>