<!-- WEB -->
<div class="card bg-dark text-white text-center web">
  <img
    class="card-img main-home-img"
    src="assets/images/razakblackmetal.gif"
    alt="razak black metal main page gif"
    style="background-color: black; width: 100%"
    onerror="assets/images/razak_logo.png"
    (load)="isMainImgLoading = !isMainImgLoading"
  />
  <div
    *ngIf="isMainImgLoading"
    class="card-img main-home-img"
    style="background-color: black; width: 100%"
  ></div>
  <div class="card-img-overlay">
    <h5 class="card-title main-home-title">
      It's not about Death. It's about suffering.
    </h5>
    <p class="card-text main-home-text">Melodic / Post Black Metal</p>
  </div>
</div>

<!-- PHONE -->
<app-catalog class="phone"></app-catalog>
