<div>

  <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="100" proportion="45"
    [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide *ngFor="let item of carousel; let i = index" [hideOverlay]="true">

      <div>
        <div>
          <div class="view w-100">
            <img class="d-block w-100" src="{{item.payload.doc.data().imageURL}}" alt="Image">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">{{item.payload.doc.data().headline}}</h3>
            <p>{{item.payload.doc.data().paragraph}}</p>
            <button class="btn btn-danger">{{item.payload.doc.data().buttonText}}</button>
          </div>
        </div>
      </div>

    </mat-carousel-slide>
  </mat-carousel>
</div>