.card {
  background-color: rgba(46, 41, 41, 0.7);
  padding: 1%;
}

.btn {
  width: 30%;
  margin-left: 33%;
}

a.button {
  text-decoration: none;
  color: white;
}

.web-carousel {
  display: block;
}

.phone-carousel {
  display: none;
}

@media screen and (max-width: 600px) {
  .web-carousel {
    display: none;
  }

  .phone-carousel {
    display: block;
  }

  .btn {
    width: 80%;
    margin-left: 10%;
  }
}
