<div class="web-catalog">
  <div class="card bg-dark text-white text-center">
    <img class="card-img banner-img" src="{{ imageSrc }}" alt="listen to us" />

    <div class="card-img-overlay">
      <h1
        class="card-title banner-title"
        *ngIf="type.toUpperCase() === 'CATALOG'"
      >
        Listen to Us!
      </h1>
      <h1
        class="card-title banner-title"
        *ngIf="type.toUpperCase() === 'LYRICS'"
      >
        Lyrics
      </h1>
      <h1
        class="card-title banner-title"
        *ngIf="type.toUpperCase() === 'GALLERY'"
      >
        GALLERY
      </h1>
      <h1
        class="card-title banner-title"
        *ngIf="type.toUpperCase() === 'ABOUT'"
      >
        About Us!
      </h1>
      <div class="card-text banner-text">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item" *ngIf="type.toUpperCase() === 'ABOUT'">
            <a
              rel="external nofollow"
              target="_blank"
              class="btn-floating btn-gplus mx-3"
              href="{{ facebook }}"
            >
              <img
                [ngClass]="{
                  'invert-color': invert
                }"
                class="hover-animation"
                src="assets/images/facebook.png"
                width="25"
                alt="razak facebook"
              />
            </a>
          </li>
          <li
            class="list-inline-item"
            *ngIf="
              type.toUpperCase() === 'GALLERY' || type.toUpperCase() === 'ABOUT'
            "
          >
            <a
              rel="external nofollow"
              target="_blank"
              class="btn-floating btn-gplus mx-3"
              href="{{ instagram }}"
            >
              <img
                [ngClass]="{
                  'invert-color': invert
                }"
                class="hover-animation"
                src="assets/images/instagram.png"
                width="25"
                alt="razak instagram"
              />
            </a>
          </li>
          <li class="list-inline-item" *ngIf="type.toUpperCase() === 'ABOUT'">
            <a
              rel="external nofollow"
              target="_blank"
              class="btn-floating btn-gplus mx-3"
              href="{{ twitter }}"
            >
              <img
                [ngClass]="{
                  'invert-color': invert
                }"
                class="hover-animation"
                src="assets/images/twitter.png"
                width="25"
                alt="razak twitter"
              />
            </a>
          </li>
          <li
            class="list-inline-item"
            *ngIf="
              type.toUpperCase() === 'CATALOG' || type.toUpperCase() === 'ABOUT'
            "
          >
            <a
              rel="external nofollow"
              target="_blank"
              class="btn-floating btn-gplus mx-3"
              href="{{ youtube }}"
            >
              <img
                [ngClass]="{
                  'invert-color': invert
                }"
                class="hover-animation"
                src="assets/images/youtube.png"
                width="25"
                alt="razak youtube"
              />
            </a>
          </li>
          <li
            class="list-inline-item"
            *ngIf="
              type.toUpperCase() === 'CATALOG' || type.toUpperCase() === 'ABOUT'
            "
          >
            <a
              rel="external nofollow"
              target="_blank"
              class="btn-floating btn-gplus mx-3"
              href="{{ spotify }}"
            >
              <img
                [ngClass]="{
                  'invert-color': invert
                }"
                class="hover-animation"
                src="assets/images/spotify.png"
                width="25"
                alt="razak spotify"
              />
            </a>
          </li>
          <li
            class="list-inline-item"
            *ngIf="
              type.toUpperCase() === 'CATALOG' || type.toUpperCase() === 'ABOUT'
            "
          >
            <a
              rel="external nofollow"
              target="_blank"
              class="btn-floating btn-li mx-3"
              href="{{ bandcamp }}"
            >
              <img
                [ngClass]="{
                  'invert-color': invert
                }"
                class="hover-animation"
                src="assets/images/bandcamp.png"
                width="25"
                alt="razak bandcamp"
              />
            </a>
          </li>
          <li
            class="list-inline-item"
          >
            <a
              rel="external nofollow"
              target="_blank"
              class="btn-floating btn-gplus mx-3"
              (click)="openInfoDialog()"
            >
              <img
                [ngClass]="{
                  'invert-color': invert
                }"
                class="hover-animation"
                src="assets/images/info-button.png"
                width="25"
                alt="razak info button"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
