<button mat-icon-button class="close-button float-right" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="mt-5">
</div>
<h1 mat-dialog-title>Listen to Us!</h1>
<mat-dialog-content>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item mt-3">
            <a class="btn-floating btn-gplus mx-3" href="{{youtube}}">
                <img class="hover-animation" src="assets/images/youtube.png" width="150" alt="youtube" />
            </a>
        </li>
        <li class="list-inline-item mt-3">
            <a target="_blank" class="btn-floating btn-gplus mx-3" href="{{spotify}}">
                <img class="hover-animation" src="assets/images/spotify.png" width="150" alt="spotify">
            </a>
        </li>
        <li class="list-inline-item mt-3">
            <a target="_blank" class="btn-floating btn-li mx-3" href="{{bandcamp}}">
                <img class="hover-animation" src="assets/images/bandcamp.png" width="150" alt="bandcamp" />
            </a>
        </li>
    </ul>

    <hr class="mt-2 mb-2">



    <p>"Why can't I stop feel my emptiness?<br>
        Why can't I stop feeling worthless?<br>
        Tell me why!"</p>
    <h6>- Why the rainclouds will never go away? -</h6>

</mat-dialog-content>