<app-banner [imageSrc]="bannerImg" [type]="type"></app-banner>

<div *ngIf="filteredLyrics" class="container">
  <div class="text-center mt-3">
    <mat-form-field>
      <input
        class="toolbar-search"
        (keyup)="applyFilter($event)"
        type="text"
        matInput
        placeholder="Search..."
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngIf="filteredLyric.length <= 0">
    <h2 class="text-danger text-center no-data-effect m-5 p-5">
      Product not found...
    </h2>
  </div>

  <div class="card-columns mt-5">
    <div *ngFor="let lyric of filteredLyrics">
      <a href="{{ lyric.songLink }}" target="_blank">
        <div
          class="card border-warning mb-3 card-appears-effect"
          [ngClass]="{
            'border-danger': lyric?.cdName?.toLowerCase() === 'eclipse',
            'border-warning': lyric?.cdName?.toLowerCase() === 'cover'
          }"
        >
          <div class="card-body">
            <h5 class="card-title text-center">{{ lyric.songName }}</h5>
            <hr />
            <div
              class="card-text text-center"
              *ngFor="let paragraph of lyric.paragraphs; let indx = index"
            >
              <p *ngIf="indx != 0"><>---<>---<>---<>---<>---<></p>
              <p class="m-0" *ngFor="let verse of paragraph">{{ verse }}</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{ lyric.cdName }}</small>
              <small class="text-muted">{{ lyric.author }}</small>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<iframe src="https://www.youtube.com/embed/ByqMcr913wo"> </iframe>
