iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color:black;
}

.card-title{
  font-size: 2em;
}

.card{
  display: inline-block;
}

.card-hover-effect:hover {
  cursor: pointer;
}
