<h1 mat-dialog-title>ART</h1>
<mat-dialog-content>
    <p>You can find all our pictures here! </p>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item mt-3">
            <a target="_blank" class="btn-floating btn-gplus mx-3" href="{{instagram}}">
                <img class="hover-animation" src="assets/images/instagram.png" width="150" alt="instagram" />
            </a>
        </li>
    </ul>

    <hr class="mt-2 mb-2">

    <p>We also work with excellent artists. You should see their work! </p>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <div class="card pb-3">
                <div class="card-body">
                    <h5 class="card-title">Artwork</h5>
                    <p class="card-text">Steel Witch</p>
                </div>
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a target="_blank" class="btn-floating btn-gplus mx-3" href="{{steelWitchInstagram}}">
                            <img class="hover-animation" src="assets/images/instagram.png" width="50" alt="instagram" />
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="list-inline-item mt-3">
            <div class="card pb-3">
                <div class="card-body">
                    <h5 class="card-title">Photography</h5>
                    <p class="card-text">Álvaro Gómez Alcántara</p>
                </div>
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a target="_blank" class="btn-floating btn-gplus mx-3" href="{{alvaroGomezFacebook}}">
                            <img class="hover-animation" src="assets/images/facebook.png" width="50" alt="facebook" />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" class="btn-floating btn-gplus mx-3" href="{{alvaroGomezInstagram}}">
                            <img class="hover-animation" src="assets/images/instagram.png" width="50" alt="instagram" />
                        </a>
                    </li>
                </ul>
            </div>

        </li>

        <li class="list-inline-item mt-3">
            <div class="card pb-3">
                <div class="card-body">
                    <h5 class="card-title">Video</h5>
                    <p class="card-text">Bullet Kid</p>
                </div>
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a target="_blank" class="btn-floating btn-gplus mx-3" href="#">
                            <img class="hover-animation" src="assets/images/instagram.png" width="50" alt="instagram" />
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</mat-dialog-content>