<!-- WEB -->
<div *ngIf="products" class="container web-catalog">
    <div class="row mt-3">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4 card-hover-efect">
          <div class="card bg-dark border-dark text-white">
            <img src="{{product.imgLink}}" alt="{{product.alt}}" width="100%" height="auto" focusable="false">
            <div class="card-img-overlay">
              <h5 class="card-title">{{product.name}}</h5>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-center">{{product.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a target="_blank" rel="external nofollow" href="{{product.playLink}}">
                  <button type="button" class="btn btn-sm btn-outline-danger mr-1">Play</button>
                </a>
                <a target="_blank" rel="external nofollow" href="{{product.buyLink}}">
                  <button type="button" class="btn btn-sm btn-outline-success mr-1">Buy</button>
                </a>
              </div>
              <small class="text-muted">{{product.date}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- PHONE -->
  <div *ngIf="products" class="container phone-catalog">
    <table mat-table [dataSource]="products">
  
      <ng-container matColumnDef="imgLink">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="openPlayOrBuyDialog(element)">
          <img src="{{element.imgLink}}" class="rounded-circle" alt="{{element.alt}}" width="80px" height="auto"
            focusable="false">
        </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-center" (click)="openPlayOrBuyDialog(element)">
          <span>
            {{element.description}}
          </span></td>
      </ng-container>
  
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="openPlayOrBuyDialog(element)">
          <button mat-fab color="warn" aria-label="touch button">
            <mat-icon>touch_app</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>