<div class="container-fluid">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="wrapper">
          </div>
        <div class="carousel-caption">
            <p class="customP">
                Why am I still in the darkness?
            </p>
            <p class="customP">
                Why can't I feel the happiness?
            </p>
            <p class="customP">
                Tell me why!
            </p>
            <h1 class="customH1">
                -Why the Rainclouds Never Go Away?-
            </h1>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          </div>
        <div class="carousel-caption">
            <p class="customP">
                Break my bones, tear my soul
            </p>
            <p class="customP">
                I'm your endless song.
            </p>
            <p class="customP">
                Eat my flesh, Hear my screams
            </p>
            <p class="customP">
                I'm your last Eclipse.
            </p>
            <h1 class="customH1">
                - Life's Eclipse -
            </h1>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          </div>
        <div class="carousel-caption">
            <p class="customP">
                Too late to forget, too late to forgive.
            </p>
            <p class="customP">
                Too late for a smile, too late for a weep.
            </p>
            <p class="customP">
                Too late to forget,
            </p>
            <p class="customP">
                this fucking and necrotic love
            </p>
            <h1 class="customH1">
                - My Sweet Necrolove -
            </h1>
        </div>
      </ng-template>
    </ngb-carousel>
    </div>
